{% extends "layout.html" %}

{% block title %}
contact
{% endblock %}

{% block body %}

<h1 class = "text">Feedback</h1>
<div style = "text-align:center;padding-top: 500px;">
<a href = "mailto:brycenez@gmail.com">brycenez@gmail.com</a>
<a href="tel:7199642413">Call 719-964-2413</a>
<a href="https://www.linkedin.com/in/brycen-anderson-30801a35a/">My LinkedIn</a>


<form action="/contact" method="post">
    <input name =  "text" type = "text" placehoolder = "Please fill free to add you input">
    <button type = "submit">Send Feedback</button>
</form>
</div>
{% endblock %}
