{% extends "layout.html" %}

{% block title %}
    <h1>Register</h1>
{% endblock %}

{% block main %}
<form autocomplete = "off" method = "post" action = "/register">
    <p>username</p>
    <input placeholder = "username" type = "text" name = "username" >
    <p>password</p>
    <input  placeholder = "password" type = "password" name = "password">
    <p>comfirm password</p>
    <input placeholder = "password" type = "password" name = "confirmation">
    <div></div>
    <button type = "submit"> Submit</button>
</form>
{% endblock %}
