{% extends "layout.html" %}

{% block title %}
About Brycen Anderson
{% endblock %}

{% block body %}


  <h1 style = "color: #d4d4d4;" class = "text"> Brycen Anderson</h1>

  <div class="split left">
  <div class="centered">
    <img src="/static/brycen.jpg" alt="Brycen Anderson">
  </div>
</div>

<div class="split right">
  <div class="centered">
     <p style = "font-size:30px;color: #d4d4d4;">
    I’m a sophomore at the University of Colorado Denver, majoring in Computer Science. My journey into programming started with Harvard’s CS50x, which laid a strong foundation in algorithms, data structures, and problem-solving. Since then, I’ve continued pushing myself by completing CS50 Python and CS50 SQL, expanding my skills across web development, backend logic, and database design. These courses didn’t just teach me how to code — they taught me how to think like a computer scientist, breaking down complex challenges into solvable steps and learning how to learn.

Outside of academics, I grew up as an athlete, competing in wrestling and football throughout my youth. These sports instilled in me the discipline, resilience, and mental toughness that I now bring to my programming work. I’m deeply driven by the desire to solve difficult problems and continuously grow as a developer. Whether I’m debugging a tricky error or exploring new technologies, I’m always hungry to improve. I see programming not just as a skill, but as a mindset — one that challenges me to build, break, learn, and repeat.

  </div>
</div>
{% endblock %}
